# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# MacOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode and IDE configs
.vscode/
.idea/
